<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordPageServlet</servlet-name>
        <servlet-class>com.ForgotPasswordPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLocationServlet</servlet-name>
        <servlet-class>com.SearchLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListofHotelsServlet</servlet-name>
        <servlet-class>com.ListofHotelsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOfRoomsServlet</servlet-name>
        <servlet-class>com.ListOfRoomsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardDetailsPageServlet</servlet-name>
        <servlet-class>com.CardDetailsPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BreakfastReservationServlet</servlet-name>
        <servlet-class>com.BreakfastReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceReservationServlet</servlet-name>
        <servlet-class>com.ServiceReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceReviewConfirmationServlet</servlet-name>
        <servlet-class>com.ServiceReviewConfirmationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomReviewConfirmationServlet</servlet-name>
        <servlet-class>com.RoomReviewConfirmationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BreakfastReviewConfirmationServlet</servlet-name>
        <servlet-class>com.BreakfastReviewConfirmationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BreakfastServlet</servlet-name>
        <servlet-class>com.BreakfastServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsServlet</servlet-name>
        <servlet-class>com.StatisticsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchLocationServlet</servlet-name>
        <url-pattern>/SearchLocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListofHotelsServlet</servlet-name>
        <url-pattern>/ListofHotelsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordPageServlet</servlet-name>
        <url-pattern>/ForgotPasswordPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOfRoomsServlet</servlet-name>
        <url-pattern>/ListOfRoomsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardDetailsPageServlet</servlet-name>
        <url-pattern>/CardDetailsPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BreakfastReservationServlet</servlet-name>
        <url-pattern>/BreakfastReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceReservationServlet</servlet-name>
        <url-pattern>/ServiceReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceReviewConfirmationServlet</servlet-name>
        <url-pattern>/ServiceReviewConfirmationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomReviewConfirmationServlet</servlet-name>
        <url-pattern>/RoomReviewConfirmationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BreakfastServlet</servlet-name>
        <url-pattern>/BreakfastServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BreakfastReviewConfirmationServlet</servlet-name>
        <url-pattern>/BreakfastReviewConfirmationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsServlet</servlet-name>
        <url-pattern>/StatisticsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            loginPage.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
